extends ../head.pug

block content
  .container.mt-4.custom-padding
    h1.mb-4 Flashcard List
    a.btn.btn-success.mb-3.custom-button-padding(href="/flashcard/create") Create New Flashcard
    table.table.table-striped
      thead
        tr
          th.id-text-color ID
          th Phrase
          th Translation
          th Category
          th Actions
      tbody
        each flashcard in flashcards
          tr
            td.id-text-color= flashcard.id
            td= flashcard.flashcard.phrase
            td= flashcard.flashcard.translation
            td= flashcard.flashcard.category
            td
              a.btn.btn-primary.btn-sm.mr-2.custom-button-padding(href=`/flashcard/update/${flashcard.id}`) Update
              span &nbsp;
              a.btn.btn-danger.btn-sm.custom-button-padding(href=`/api/flashcard/delete/${flashcard.id}`) Delete