extends ../head.pug

block content
  .container
    h1.flashcard-title Flashcard List
    a.create-button(href="/flashcard/create") Create New Flashcard
    table.flashcard-table
      thead
        tr
          th.id-column ID
          th.phrase-column Phrase
          th.translation-column Translation
          th.category-column Category
          th.actions-column Actions
      tbody
        each flashcard in flashcards
          tr
            td.id-column= flashcard.id
            td.phrase-column= flashcard.flashcard.phrase
            td.translation-column= flashcard.flashcard.translation
            td.category-column= flashcard.flashcard.category
            td.actions-column
              a.update-button(href=`/flashcard/update/${flashcard.id}`) Update
              span &nbsp;
              a.delete-button(href=`/api/flashcard/delete/${flashcard.id}`, onclick="return confirm('Are you sure you want to delete this flashcard?')") Delete